<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.avvsoft2050.weather5days">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Weather5Days"
        android:usesCleartextTraffic="true">
        <activity android:name="com.avvsoft2050.weather5days.screens.options.ChooseBackgroundActivity" />
        <activity android:name="com.avvsoft2050.weather5days.screens.about.AboutActivity" />
        <activity
            android:name="com.avvsoft2050.weather5days.screens.weather.WeatherActivity"
            android:launchMode="singleTop"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.avvsoft2050.weather5days.screens.options.OptionsActivity"
            android:exported="false"
            android:label="Настройки"
            android:parentActivityName=".screens.weather.WeatherActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screens.weather.WeatherActivity" />
        </activity>

    </application>

</manifest>